.card {
  border: 1px solid white;
  margin: 3%;
  transition: ease-in;
  position: relative;
  padding: 30px;
  width: 90%;
}
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.card:hover {
  border: 1px solid;
  border-image-source: linear-gradient(45deg, #06bab6, #cd5f81, #4c5798);
  border-image-slice: 1;
}
.card_content a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}
