.cardlink {
  width: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.card {
  border: 3px solid white;
  margin: 20px;
  color: #eee;
  position: relative;
  padding: 30px;
  width: 90%;
}
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.card:hover {
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #06bab6, #cd5f81, #4c5798);
  border-image-slice: 1;
}
.card_content a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .cardlink {
    width: 80%;
  }
  .card {
    margin: 5px;
    width: 80%;
  }
}
