.Hero_container {
  padding: 10% 10%;
  /* border: 1px solid #fff; */
}

.Hero_copy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  font-size: 20px;
}
.mobilesam {
  display: none;
}
.desktopsam {
  width: 100%;
}

.Hero_content ul {
  padding: 0;
  text-align: left;
}
.grabient {
  background: -webkit-linear-gradient(right, #cd5f81, #4c5798, #06bab6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .mobilesam {
    display: inherit;
    width: 100%;
  }
  .desktopsam {
    display: none;
  }
  .Hero_copy {
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
  }
}
