.projectsHorizonWrapper::-webkit-scrollbar {
  display: none;
}

.projectsHorizonWrapper {
  overflow: hidden;
  border: 1px solid red;
  overflow-x: scroll;
}


.projectsHorizonContent {
  display: flex;
  flex-direction: row;
  height: 90vh;
  border: 1px solid blue;
  width: 100%;
  align-items: center;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

.projectsHorizonContent img {
  width: auto;
  height: 420px;
  margin: 40px;
  pointer-events: none;
}

/* .projectsHorizonContent::-webkit-scrollbar {
  display: none;
}

.projectsHorizon {
  width: fit-content

}

.projectsHorizonContent {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.projectsHorizon img {
  width: auto;
  height: 420px;
  margin: 40px;
} */