.projects {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.web {
  width: auto;
  height: 450px;
  border-radius: 9px;
}

.vertical {
  border-radius: 20px;
  height: 450px;
  width: auto;
}

.poster {
  height: 450px;
  width: auto;
}

.think {
  height: 450px;
  width: auto;
}

.bn {
  height: 450px;
  width: auto;
}

@media (max-width: 1023px) {
  .projects {
    padding: 10px;
  }

  .projects a {
    width: auto;
  }

  .projects img {
    height: auto;
    width: 100%;
  }

  .vertical {
    height: 50%;
    width: auto;
  }
}