.pieces {
  /* border: 5px solid red; */
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flow img {
  margin: 0px 50px;
}

.web {
  width: auto;
  height: 450px;
}

.vertical {
  border-radius: 20px;
  height: 450px;
  width: auto;
}


.poster {
  height: 450px;
  width: auto;
}

.think {
  height: 450px;
  width: auto;
}

.bn {
  height: 450px;
  width: auto;
}