.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
}

.Header button {
  background: none;
  color: #F52508;
  cursor: pointer;
  border: none;
  font-size: 16px;
}