.menuwrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 40px;
}

.menuwrap2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 800px;
  border-radius: 20px;
  /* padding: 3px 40px; */
}
.menu img {
  width: 100%;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .menuwrap {
    /* bottom: 15px; */
    /* background: rgba(242, 240, 236, 0.32); */
    /* backdrop-filter: blur(1.5px); */
    border-radius: none;
  }
  .menu{
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 0;
  }
  .menu a {
    /* border: 1px solid red; */
    /* width: fit-content; */
    text-align: center;
  }

  .menuwrap2 {
    background-color: none;
    /* bottom: 15px; */

  }

  .menu {
    width: 100%;
    /* max-width: 500px; */
    /* padding: 10px; */
  }

  .menu h1 {
    /* font-size: 26px; */
  }
.menu img{
  width: 80%;
}
}