.menuwrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;

}

.menuwrap2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  background: rgba(242, 240, 236, 0.32);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 3px 40px;
}

@media (max-width: 768px) {
  .menuwrap {
    bottom: 15px;
    background: rgba(242, 240, 236, 0.32);
    backdrop-filter: blur(1.5px);
    border-radius: 17px;
  }

  .menuwrap2 {
    background-color: none;
    bottom: 15px;

  }

  .menu {
    width: 90%;
    max-width: 500px;
    padding: 10px;
  }

  .menu h1 {
    font-size: 26px;
  }

  .menu img {
    width: 80%;
    height: auto;
  }
}