.menuwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
  /* min-width: 180px; */
  /* height: 100%; */
  /* Remove any fixed/absolute positioning */
}

.menuwrap2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  /* width: 200%; */

}
.menuText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  font-size: 1.4rem;
  letter-spacing: -0.08rem;

}

.logo {
  width: 400px;
  height: auto;
  /* display: block; */
}

.aboutLink {
  text-decoration: none;
  color: inherit;
}

.aboutLink p {
  margin: 0;
  /* font-size: 1.2rem; */
  letter-spacing: -0.08rem;
}
.menu p{
  color: black;
}
@media (max-width: 768px) {
  .menu{
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .menuText{
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
  }
  .menuwrap {
    top: 20px;
  }

  .menuwrap2 {
    bottom: 20px;
  }

  .menu {
    max-width: 300px;
    z-index: 3;
  }

  .logo {
    width: 180px;
  }

  .aboutLink p {
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .menuwrap {
    width: 100%;
    min-width: 0;
    align-items: center;
    height: auto;
    padding: 0px 15px;
  }
  .menuwrap2{
    width: 100%;
    min-width: 0;
    align-items: center;
    height: auto;
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}