.project {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 20px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 60px;
}

.tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  text-align: left;
  /* border: 1px solid red; */
  /* justify-content: space-between; */
}

.tags p {
  width: fit-content;
  margin-bottom: 5px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images img {
  /* max-height: 300px; */
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.projectCopy {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projectCopyWrap {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.projectCopy h1 {
  font-size: 38px;
}

.projectCopyTitle p,
.projectTypeTools p {
  /* margin-top: 10px; */
  font-size: 15px;
  color: #000;
}

.projectCopyDescription {
  text-align: left;
  font-size: 16px;
  color: #000;
  line-height: 21px;
  letter-spacing: 0px;
  font-weight: 400;
  /* border: 1px solid red; */
  width: 60%;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectimg {
  height: auto;
  width: 60%;
  /* max-width: 400px; */
  border-radius: 9px;
}

.projectText {
  width: 100%;
  /* max-width: 800px; */
}

.projectCopyTitle {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.projectCopyTitleDate {
  display: flex;
  justify-content: space-between;
}

.details {
  /* border: 1px solid red; */
}

.projectTypeTools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 10px;
}

@media (max-width: 768px) {
  .projectCopy h1 {
    font-size: 28px;
  }

  .project {
    height: 100%;
    /* padding-bottom: 90px; */
    display: flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 60px;
    margin-top: 10px;


  }

  .projectCopyDescription {
    width: 100%;
    margin-top: 10px;
  }

  .images img {
    width: 100%;
  }

  .gallery {
    width: 400px;
    min-height: 400px;
    margin-bottom: 30px;
  }

  .tags {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    margin-top: 15px;
  }

  .projectCopyTitle {
    flex-direction: column;
  }

  .projectCopy {
    width: 100%;
  }

  .projectCopyWrap {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .gallery {
    width: 100%;
    min-height: 320px;
    margin-bottom: 15px;

  }

  .projectimg {
    width: 100%;
  }
}