@font-face {
  src: url(./assets/styles/fonts/MonumentExtended-Regular.otf);
  font-family: monument;
}

body {
  margin: 0;
  padding: 0;
  font-family: monument;
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
