@font-face {
  src: url(./fonts/MonumentExtended-Ultrabold.otf);
  font-family: monumentBold;
}

$red: #ff3e55;
$blue: #021d44;
$white: #eee;
$title: 30px;
$left: 5%;

body {
  background-color: #000;
  color: $white;
}
