@font-face {
  src: url(./fonts/MonumentExtended-Ultrabold.otf);
  font-family: monumentBold;
}

$red: #ff3e55;
$blue: #021d44;
$white: #eee;
$title: 30px;
$left: 5%;

body {
  background: url(./background1.gif) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;
}
.light {
  position: absolute;
  right: 0;
  top: 80%;
}
.sticker {
  position: absolute;
  left: 0;
  top: 150%;
}
.planet {
  position: absolute;
  right: 0;
  top: 260%;
  width: 20%;
}
.smile {
  position: absolute;
  left: 0%;
  top: 250%;
}
.shine {
  position: absolute;
  left: 0%;
  top: 10%;
}
@media screen and (max-width: 768px) {
  .planet {
    width: 40%;
    top: 350%;
  }
}
