@font-face {
  src: url(./fonts/MonumentExtended-Ultrabold.otf);
  font-family: monumentBold;
}

$red: #ff3e55;
$blue: #021d44;
$white: #fff;
$title: 30px;
$left: 5%;

body {
  background-image: url(../images/Portfolio_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: $white;
}
h1 {
  font-size: $title;
  font-family: monumentBold;
}

.landing_img {
  width: 100px;
  margin-left: $left;
  margin-top: 20px;
}
.sidebar_content ul {
  list-style: none;
  padding: 0;
}
.sidebar_content a {
  text-decoration: none;
  color: $red;
}
.sidebar_content li {
  margin: 10px;
}
.sidebar_content {
  border-left: 1px solid #fff;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  margin-left: $left;
}
.hero-content h1 {
  font-size: 35px;
}
.hero-content {
  font-size: 30px;
}
